.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        = @group.name
      .main-header__left-box__current-menber

        Menber: 
      - @group.users.each do |user|
        = user.name
    
    =link_to "Edit", edit_group_path(@group), class: "main-header__exit-btn"

  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form-bar', placeholder: 'type a message'
      = f.label :image, class: 'picture-icon' do
        = fa_icon 'image', class: 'icon'
        -# = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'send-btn'